<div class="container user-bookings-form-center">
  <div class="text-center p-4">
  <h2><%= @user.username %></h2>
  <p><%= @user.email %></p>
  <p><%= @user.phone %></p>

  <% @bookings.each do |booking| %>
    <div class="card description mt-4 p-3">
      <p>Du <%= booking.checkin %> au <%= booking.checkout %></p>
      <p><%= booking.property.title %></p>
      <div>
        <% booking.property.photos.each do |photo| %>
          <%= cl_image_tag photo.key, width: 250, crop: :fill %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
