<h2><%= @user.username %></h2>
<p><%= @user.email %></p>
<p><%= @user.phone %></p>

<div>
	<% @bookings.each do |booking| %>
	<ul>
		<li>
			<p>Du <%= booking.checkin %> au <%= booking.checkout %></p> 
			<p><%= booking.property.title %></p>
		</li>
	</ul>
	<% end %>
</div>
