<h2><%= @user.username %></h2>
<p><%= @user.email %></p>
<p><%= @user.phone %></p>
<p><%= @user.description %></p>

<p><%= @user.bookings %></p>

<%= link_to "Delete #{@user.mail}",
            user_path(@user),
            method: :delete,
            data: { confirm: "Souhaitez-vous vraiment supprimer?" } %>
