<div class="container m-4">
    <div class="row justify-content-md-center">
      <div class="col-10">
         <div class="show-card-img mt-4">
            <h2><%= @property.title %></h2>
            <% @property.photos.each do |photo| %>
           <div class="img-show">
              <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
            </div>
            <% end %>
          </div>

        <div class="show-card-description mt-4">
          <p><%= @property.description %></p>
          <div class="col-sm d-flex justify-content-around mt-4">
            <p>Catégorie: <%= @property.category%></p>
            <p>Prix: <%= @property.price%> <i class="fas fa-euro-sign"></i></p>
          </div>
        </div>

        <div class="show-card-foot">
          <div class="col-sm d-flex justify-content-around">
            <p class="btn btn-info"><%= link_to 'Modifier', edit_property_path(@property) %></p>
            <p class="btn btn-info"><%= link_to "Supprimer", property_path(@property), method: :delete, data: { confirm: 'Souhaitez-vous vraiment supprimer?' } %></p>
            <p class="btn btn-info"><%= link_to 'Réserver', new_property_booking_path(@property) %></p>
          </div>
       </div>

       <div
        id="booking-form-div"
        data-bookings= <%= @bookings_dates.to_json %>
        >
      </div>

     </div>
   </div>
</div>
