<!-- <h2><%= @title %></h2> -->
  <div class="row justify-content-center">
  <% @properties.each do |property| %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title justify"><%= link_to property.title, property_path(property) %></h5>
        <% property.photos.each do |photo| %>
          <div class="img-show">
            <%= cl_image_tag photo.key, width: 250, crop: :fill %>
          </div>
        <% end %>
      </div>
      <div class="card-footer">
        <%= property.price %> <i class="fas fa-euro-sign"></i>
        <%= property.category %>
      </div>
    </div>
  <% end %>
  </div>
