<!-- <h2><%= @title %></h2> -->
<div class="row justify-content-center">
<% @properties.each do |property| %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title justify"><%= link_to property.title, property_path(property) %></h5>
      <%= cl_image_tag("t7i2uktyh9biefnbyld7", width: 250, crop: :fill) %>
    </div>
    <div class="card-footer">
      <%= property.price %> <i class="fas fa-euro-sign"></i>
      <%= property.category %>
    </div>
    <div class="card-infos">
      <div id="info"> <%= link_to "More info", property_path(property)%></div>
    </div>
  </div>
<% end %>
</div>
