<div class="banner" style="background-image: linear-gradient(243deg, rgba(214,108,182,0.4) 0%, rgba(115,219,230,0.4) 100%), url(https://res.cloudinary.com/dhj5ygysw/image/upload/v1615453447/Isengard_dkdxeo.jpg);">
  <h1>Louer une <br>
    Awesome House ! <i class="far fa-heart heart1"></i><i class="far fa-heart heart2"></i><i class="far fa-heart heart3"></i></h1>
  <h3>–––––––––––––––––</h3>
  <p>Vivez un séjour enchanté! ou pas...</p>
  <div class="wrapper-btn">
    <div class="wrapper-category">
      <label class="select required text-white h6 pl-4" for="property_category">Filtrer par catégorie</label>
      <form class="simple_form col" id="filter_property" action="/properties/by_category" accept-charset="UTF-8" method="get">
        <div id ="border-set" class="form-group select required property_category">
          <select class="form-control select required" name="category" id="category"><option value=""></option>
            <% Property::CATEGORIES.sort.each do |cat| %>
              <% if @selected == cat %>
                <option value=<%= cat %> selected > <%= cat %> </option>
              <% else %>
                <option value=<%= cat %>> <%= cat %> </option>
              <% end %>
            <% end %>
          </select>
        </div>
        <input class="btn btn-search" type="submit" name="commit" value="Recherche"></input>
      </form>
    </div>
    <div class="wrapper-property">
      <a class="btn-property" href="/properties/new" id="new_property">Louer ma propriété</a>
    </div>
  </div>

</div>
<div class="container">
  <div class="center-h2">
    <h2>Propriétés féériques</h2>
  </div>
  <div class="wrapper-cards">
    <%= render "shared/list_of_properties" %>
  </div>
</div>

<footer>
  <h4>Made with <i class="far fa-heart"></i> at Le Wagon Lyon</h4>
</footer>
