<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dnobflpja/image/upload/v1615235755/awesome-houses/iv13ujxpae9odfnslbwm.jpg);">
  <div class="container">
    <div class="banner-content col-sm-8 py-3">
      <h1>Looking Awesome Houses for rent ?</h1>
      <p>You're at the right place, make your choice and enjoy a fabulous stay !</p>
      <div class="row">
        <div class="col-sm-6">
           <form class="simple_form " id="filter_property" action="/properties/by_category" accept-charset="UTF-8" method="get">
            <div class="form-group select required property_category">
              <label class="select required" for="property_category">Filter by category</label>
              <select class="form-control select required" name="category" id="category"><option value=""></option>
                <% Property::CATEGORIES.sort.each do |cat| %>
                  <% if @selected == cat %>
                    <option value=<%= cat %> selected > <%= cat %> </option>
                  <% else %>
                    <option value=<%= cat %>> <%= cat %> </option>
                  <% end %>
                <% end %>
              </select>
            </div>
            <input class="btn btn-flat" type="submit" name="commit" value="Search"
              <i class="fas fa-search"></i>
            </input>
          </form>
        </div>
        <div class="col-sm-6">
          <a class="btn btn-secondary mb-3" href="/properties/new" id="new_property">I have a property to rent</a>
        </div>
      </div>
    </div>
    <%= render "shared/list_of_properties" %>
  </div>
</div>
