<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dnobflpja/image/upload/v1615235755/awesome-houses/iv13ujxpae9odfnslbwm.jpg);">
  <div class="container">
    <div class="banner-content col-sm-8 py-3">
      <h1>Looking Awesome Houses for rent ?</h1>
      <p>You're at the right place, make your choice and enjoy a fabulous stay !</p>
      <div class="row">
        <div class="col-sm-6">
          <form class="form-horizontal" role="form" id="search">
            <div class="form-group">
              <label for="filter">Filter by category</label>
              <select class="form-control">
                <% Property::CATEGORIES.sort.each do |cat| %>
                  <option value='<% "#{cat}" %>'> <%= cat %> </option>
                <% end %>
              </select>
            </div>
            <button name="button" type="submit" class="btn btn-flat">
              <i class="fas fa-search"></i> Search
            </button>
          </form>
        </div>
        <div class="col-sm-6">
          <a class="btn btn-secondary mb-3" href="/properties/new">I have a property to rent</a>
        </div>
      </div>
    </div>



    <h2>All our properties</h2>
    <div class="row">
    <% @properties.each do |property| %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= link_to property.title, property_path(property) %></h5>
        </div>
        <div class="card-footer">
          <%= property.price %> <i class="fas fa-euro-sign"></i>
          <%= property.category %>
        </div>
        <div class="card-infos">
          <div id="info"> <%= link_to "More info", property_path(property)%></div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
